doctype html
html
  head
    title Courriel
    link(rel='stylesheet', href='/css/style.css')
  body
    div.header(id='header')
      select(id="focus")
        option(value="inbox") Inbox
        option(value="write") New message
        option(value="yp") Address Book
    div.body(id='body')

    script(src='/js/courriel.js')




