doctype html
html
  head
    title Courriel
    link(rel='stylesheet', href='/css/style.css')
    script var encryptedKey = '#{encryptedKey}';
  body
    div.header(id='header')
    div.body(id='body')
    div.footer(id='footer')
    script(src='/js/courriel.js')




