body {
	font-family:verdana;
}

a.blue-theme, input[type="text"],input[type="password"],select {
	width:200px;
}

.blue-theme {
    background-color: #0072C6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* unvisited link */
a.blue-theme:link {
    background-color: #0072C6;
}

/* mouse over link */
a.blue-theme:hover {
    background-color: #16649b;
	text-decoration: none;
	color: white;
}

/* selected link */
a.active {
    background-color: #16649b;
}

table {
	width:100%;
	border-spacing:0;
}

table.main-frame {
	height: 100%;
}

tr.top-row {
	height: 30px;
}

thead, td.bold {
	font-weight:bold;
}

#top-left-region {
	background-color:#0072C6;
	padding-left:4px;
	width:200px;
}

#top-right-region {
	background-color:#0072C6;
	color:#ffffff;
	font-size:24px;
	text-align:center;
}

#bottom-left-region {
  background-color:#EFEFF1;
  vertical-align:top;
 
}

#bottom-right-region {
  vertical-align:top;
  padding: 20px 20px 20px 20px;
}

#register-form {
	background-color: #F4F4F4;
	width: 500px; 
	margin: 200px auto 0 auto;'
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	-moz-box-shadow: 1px 2px 2px 1px #C2C2C2;
	-webkit-box-shadow: 1px 2px 2px 1px #C2C2C2;
	box-shadow: 1px 2px 2px 1px #C2C2C2;
	
	border:1px solid #050500;
}

#register-form form {
	padding:20px 20px 20px 20px;
}

#register-form .bold {
	text-align:right;
}

#register-form h1 {
	text-align:center;
}


#logout {
	text-align:right;
	margin-right:20px;
}
